.update{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 1cm;
}
.update1{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 2cm;
    padding-top: 15px;
    font-size: larger;
}
h2{
    margin-top: 1cm;
}