body{
    text-align: center;
}
.userlist{
    background-color:#848fd4;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    width:60%;
    padding-right: 20%;
    padding-left: 20%;
    height:4cm;
    border: 1px solid;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    color: black;
}

.users{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.paginationButton{
    width:85%;
    height:80px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
    
   
    
}
.paginationButton a{
    border:1px solid #28389C;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color:#28389C;
    cursor: pointer;
}
.paginationButton a:hover{
    color: ivory;
    background-color: #28389C;
}
.paginationActive a{
    color: ivory;
    background-color: #28389C;
}
@media screen and (max-width: 670px){
    .userlist{
        height:3.5cm;
        font-size:large;
    }
    .paginationButton{
        width:75%;
    }
   
}
@media screen and (max-width: 550px){
    .userlist{
        height:3.5cm;
        font-size:small;
    }
    .paginationButton{
        width:65%;
        padding: 2px;
    }
}