body{
    text-align: center;
}
.userlist{
    background-color:#848fd4;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    width:14cm;
    height:4.5cm;
    margin-bottom: .5cm;
    border: 1px solid;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
.allUsers{
    align-items: center;
    margin-left: 37%;
    margin-right: 40%;
}
.paginationButton{
    width:80%;
    height:40px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.paginationButton a{
    border:1px solid #28389C;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color:#28389C;
    cursor: pointer;
}
.paginationButton a:hover{
    color: ivory;
    background-color: #28389C;
}
.paginationActive a{
    color: ivory;
    background-color: #28389C;
}